@import '../../assets/scss/style.scss';


.jumbo {
    background-image: url('../../assets/images/ornament-header-1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

// CSS for mobile view

@media (max-width: 576px) {
    .jumbo {
        background-image: url('../../assets/images/ornament-header-mobile.png');
    }
}


// CSS for tablet view

@media screen and (max-width: 996px) and (min-width: 577px) {
    .jumbo {
        background-image: url('../../assets/images/ornament-header-1.png');
    }
}