@import '../../../assets/scss/style.scss';



.bg-detail-case-study-or {
    background: url('../../../assets/images/case-study-main-bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.bg-detail-case-study-1-or {
    background: url('../../../assets/images/solution-bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin-top: 100px;
}
