@import "../../../assets/scss/style.scss";

.nav-custom {
    background: transparent;
    min-height: 90px !important;
  }
  
  .navs-menu li a {
    font-size: 16px !important;
  }
  
  .effect-hov {
    padding: 18px 0 18px 20px;
  }
  
  .effect-hov:hover {
    color: $title-light !important;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link:not(:last-child) {
    padding-right: 40px !important;
  }
  
  .navbar-dark .navbar-nav .nav-link a {
    color: rgba($subtitle-light, .7) !important;
  }
  
  .navbar-dark .navbar-nav .nav-link.active a {
    color: $title-light !important;
  }
  
  .navbar-dark .navbar-nav .nav-link a:hover {
    color: $title-light !important;
  }
  