@import '../../../assets/scss/style.scss';


.for-mobile {
    display: none !important;
}

.client-title {
    @include small-title;
    text-align: center;
    margin-bottom: 40px;
}


// CSS for mobile view

@media (max-width: 576px) {

    .client-title {
        @include small-title-mobile;
        margin-bottom: 30px;
    }

    .client-logo {
        height: 70%;
        width: 70%;
        margin-bottom: -20px;
        padding: 0px;
    }
}

// CSS for desktop view 

@media screen and (max-width: 996px) and (min-width: 577px) {}